*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
position: fixed;
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/pexels-carlos-oliva-3586966.jpg")

}
#container{
    text-align: center;
    margin-top: 80px;
    margin-bottom:30px ;
color: #fff;

}
#container h1{
font-size: 35px;
margin-top: 30px;
}
#container h2{
margin-top: 30px;
font-size: 25px;
font-weight: 700;
font-family: cursive;

}
#container button{
margin-top: 80px;
padding: 8px;
width: 160px;
background: none;
border:3px solid  #fff;
border-radius: 50px;
}
#container button a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
#container button:hover{
    color: orangered;
    border-radius: 50px;
border: 3px solid orangered;
background: #fff;
}
#container button a:hover{
    color: orangered;

}