*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
position: fixed;
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/pexels-carlos-oliva-3586966.jpg")

}
#Registration{
    margin-top: 50px;
    text-align: center;
    background: transparent;
    color: #fff;
}
#Registration input {

    color: #fff;
    margin-top: 30px;
    width: 300px;
    padding: 8px;
    font-family: monospace;
    font-size: 18px;
    outline: transparent;
    background: transparent;
    border: none;
    border-bottom: 2px solid #e94087;
}
#Registration button{
    color: #fff;
    border: 2px solid #fff;
padding: 7px ;
width: 100px; 
text-align: center;
font-size: 18px;
font-weight: 600;
margin-right: 30px;
margin-left: 30px;
margin-top: 20px;
background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
#Registration button a{
text-decoration: none;
color: #fff;
}
#Registration button:hover{
background-color: white;
border:2px solid #e940b6;
color: #e940b6;
}

#Registration button a:hover{
    color:#e940b6 ;
}
